.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  height: 2.3rem;
}


.toolbar input {
  min-width: 300px;
}

.toolbar > * {
  height: 100%;
}

.main-content {
  width: 100%;
  color: #2b3844;
  margin: 1rem 0;
}

.main-content th {
  text-align: left;
}
